body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* fonts */
@font-face {
  font-family: "San Francisco Regular";
  src: local("Rajdhani"), url(./assets/fonts/SF/SF-regular.otf) format("opentype");
}

@font-face {
  font-family: "San Francisco Light";
  src: local("Rajdhani"), url(./assets/fonts/SF/SF-light.otf) format("opentype");
}
